<div>
    <h2 id="page-heading">
        <span>Commentaires</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commentaire" [routerLink]="['/commentaire/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Commentaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="commentaires?.length === 0">
        <span>No commentaires found</span>
    </div>
    <div class="table-responsive" *ngIf="commentaires?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commentaire"><span>Commentaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userLogin"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="posteId"><span>Poste</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let commentaire of commentaires ;trackBy: trackId">
                <td><a [routerLink]="['/commentaire', commentaire.id, 'view' ]">{{commentaire.id}}</a></td>
                <td>{{commentaire.commentaire}}</td>
                <td>
                    {{commentaire.userLogin}}
                </td>
                <td>
                    <div *ngIf="commentaire.posteId">
                        <a [routerLink]="['../poste', commentaire.posteId , 'view' ]" >{{commentaire.posteId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/commentaire', commentaire.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commentaire', commentaire.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'commentaire', { outlets: { popup: commentaire.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
